<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNOVATESHOP</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">INNOVATE<span>SHOP</span></h1>
        <a href="login.html" class="header__button">SIGN IN</a>
    </header>
    <main class="main">
        <section class="main__child main__description">
            <h2 class="main__description__title">¡Descubre el futuro en <span>INNOVATESHOP!</span></h2>
            <a href="" class="main__description__button">Come on <i class="fa-solid fa-arrow-right"></i></a>
        </section>
        <section class="main__child main__heroImage">
            <div class="containerImage">
                <img src="../static/assets/heroImage.png" alt="heroImage">
            </div>
        </section>
    </main>
</body>
</html>