<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNOVATESHOP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">INNOVATE<span>SHOP</span></h1>
    </header>
    <main class="main">
        <section class="main__child main__description">
            <div class="img__flex">
                <div class="img1">
                    <img src="../static/assets/man1.avif" alt="">
                </div>
                <div class="img2">
                    <img src="../static/assets/women2.jpg" alt="">
                </div>
                <div class="img3">
                    <img src="../static/assets/women1.jpg" alt="">
                </div>
                <div class="img4">
                    <img src="../static/assets/man2.webp" alt="">
                </div>
                <div class="img5">
                    <img src="../static/assets/women3.jpg" alt="">
                </div>
            </div>
            <h2 class="main__description__title">¡Descubre el futuro en <span>INNOVATESHOP!</span></h2>
            <div class="containerButtons">
                <a href="login.html" class="main__description__button">Sign In</a>
                <a href="signUp.html" class="main__description__button">Sign Up</a>
            </div>
        </section>
        <section class="main__child main__heroImage">
            <div class="containerImage">
                <img src="../static/assets/heroImage.png" alt="heroImage">
            </div>
        </section>
    </main>
</body>
</html>