<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/profit.css">
</head>

<body>
    <main class="main__container__product">
        <h2>Profit Margin</h2>
        <section class="product_view">
            <div class="product__name__container"><span class="product__name">Product</span></div>
            <div class="product__value__container"><span class="product__value"></span></div>
        </section>
        <section class="code_view">
            <div class="code__name__container"><span class="code__name">Code</span></div>
            <div class="code__value__container"><span class="code__value"></span></div>
        </section>
        <section class="pricep_view">
            <div class="pricep__name__container"><span class="pricep__name">Purchase Price</span></div>
            <div class="pricep__value__container"><span class="pricep__value"></span></div>
        </section>
        <section class="profit_view">
            <div class="profit__name__container"><span class="profit__name">Profit</span></div>
            <div class="profit__value__container"><input type="number" class="profit__value"></div>
        </section>
        <section class="selling_price_view">
            <div class="selling__name__container"><span class="selling__name">Selling Price</span></div>
            <div class="selling__value__container"><span class="selling__value"></span></div>
        </section>
    </main>
</body>

</html>