@import url(../styles/stylesGenerals.css);
@import url(../styles/animation.css);

body{
    display: flex;
    overflow-y: hidden;
}


.column__bar{
    background-color: var(--secondColor);
    width: 5%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: .5s ease;
    z-index: 999;
    border-radius: 0 10px 10px 0;
}

button{
    cursor: pointer;
}




.column__bar .column__bar__title{
    position: absolute;
    top: 10px;
    color: white;
    font-size: 2.5rem;
}

.column__bar .column__bar__title span{
    color: var(--secondColor);
    background-color: white;
    border-radius: 5px;
    padding: 0 3px;
}

.column__bar .column__bar__items{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 0;
}

.column__bar .column__bar__items div{
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column__bar .column__bar__items .buttonOut{
    position: absolute;
    bottom: 0;
}

.column__bar .column__bar__items div > span{
    width: 50%;
    color: white;
    display: none;
}

.column__bar .column__bar__items div > button{
    width: 30%;
    background-color: transparent;
    color: white;
    border: none;
}


.column__bar .column__bar__items div button i{
    font-size: 2rem;
}

.column__bar:hover .labels{
    display: block;
}


.column__bar__items div{
    cursor: pointer;
}

.column__bar:hover{
    width: 10%;
    transition: .5s ease;
}

.mainContainer{
    width: 95%;
    height: 100vh;
    z-index: 998;
    display: flex;
    align-items: end;
    justify-content: center;
}

.mainContainer__description{
    position: absolute;
    right: 30px;
    top: 30px;
}

.mainContainer .mainContainer__dashboard{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 998;
}



.mainContainer .mainContainer__dashboard .mainContainer__dashboard__inputs{
    width: 90%;
    height: 5vh;
    margin-left: 3.5%;
}

.mainContainer__dashboard__inputs .head__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    padding-right: 30px;
}

.head__container button{
    height: 100%;
    padding: 0 10px;
    background-color: var(--mainColor);
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
}

.input__container{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.input__container input{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
}

.input__container input:focus{
    outline: 1px solid var(--secondColor);
}

.input__container i{
    position: absolute;
    left: 10px;
}

.input__container span{
    position: absolute;
    right: 20%;
}

.input__container select{
    position: absolute;
    right: 30px;
    width: 15%;
    height: 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 13%;
    border: none;
    height: 90%;
    padding: 10px 20px; 
    font-size: 1.2rem;
    border-radius: 5px;
    color: var(--secondColor);
    cursor: pointer;
}

.input__container select:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



.head__categories select:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.mainContainer__dashboard .scroll-container{
    width: 75%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

::-webkit-scrollbar{
    background-color: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--secondColor);
    width: 10px;
    border-radius: 10px;
}

.scroll-container.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 2.2rem;
}

.scroll-container .card{
    width: 90%;
    height: 20vh;
    box-shadow: 3px 3px 10px #bdbdbd;
    border-radius: 20px;
    margin: 20px;
    min-height: 20vh;
    display: flex;
    padding: 10px;
    justify-content: end;
}

.scroll-container .card .chart{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-left: 20px;
}

.scroll-container .card .chart:first-of-type::after{
    content: '';
    position: absolute;
    right: 0;
    height: 50%;
    width: 2px;
    background-color: #ccc;
}

.scroll-container .card .chart div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.scroll-container .card .chart div > *{
    width: 50%;
}

.checkGood{
    margin-left: 30px;
    color: green;
    padding: 3px;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkFalse{
    margin-left: 20px;
    background-color: white;
    color: red;
    padding: 2px;
    border-radius: 50%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"]:not(#searchCompany),
select:not([data="not"]){
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; 
    font-size: 16px;
}

select:not([data="not"]) {
    appearance: none; 
    background-color: white; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path fill="%23000000" fill-opacity=".54" d="M6 8l6 6H0z"/></svg>');
    background-repeat: no-repeat; 
    background-position: right 10px center;
    padding-right: 30px; 
}


.confirmButton{
    background-color: var(--mainColor);
}


.Categories-content__dashboard__inputs{
    width: 100%;
    height: 5vh;
}


.buttonActive.active{
    background-color: white;
    border-radius: 50px 0 0 50px;
    padding: 10px;
    margin: 10px;
}


.buttonActive{
    position: relative;

}
.buttonActive.active {
    background-color: white;
    border-radius: 50px 0 0 50px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 2px 4px #ccc;
}

.buttonActive.active::after {
    content: '';
    position: absolute;
    top: -15px;
    right: -6px;
    transform: rotate(20deg);
    border-right: 10px solid white;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 0 0 100% 0;
}

.buttonActive.active::before {
    content: '';
    position: absolute;
    bottom: -12px;
    right: -6px;
    transform: rotate(-80deg);
    border-right: 10px solid white;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 0 0 100% 0;
}


.buttonActive.active .labels,.buttonActive.active i{
    color: var(--secondColor);
    transition: 1s ease;
}


.Categories-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Categories-content .Categories__dashboard__inputs{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.Categories-content .Categories__dashboard__inputs .head__categories{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.head__categories input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-indent: 30px;
}

.head__categories input::placeholder{
    color: var(--secondColor);
    color: gray;
    font-size: 90%;
}

.head__categories .fa-search{
    position: absolute;
    left: 15px;
}

.head__categories span{
    position: absolute;
    right: 20%;
}

.head__categories select{
    position: absolute;
    right: 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 13%;
    border: none;
    height: 90%;
    padding: 10px 20px; 
    font-size: 1.1rem;
    border-radius: 5px;
    color: var(--secondColor);
    cursor: pointer; 
}

.head__categories select:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Categories__dashboard__inputs .buttonSaveChanges{
    background-color: var(--mainColor);
    border: none;
    padding: 0 10px;
    outline: none;
    color: white;
    border-radius: 10px;
}

.scrollContainerView{
    width: 60%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.scrollContainerView .chartView{
    width: 90%;
    height: 20vh;
    box-shadow: 3px 3px 10px #ccc, -3px -3px 10px #ccc;
    border-radius: 10px;
    margin: 20px;
    min-height: 16vh;
    display: flex;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.scrollContainerView .chartView > article{
    width: 100%;
    height: 50%;
    display: flex;
}

.scrollContainerView .chartView > article > div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.scrollContainerView .chartView > article > div > span{
    font-weight: 700;
}

.chartView .addMethod{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--secondColor);
    font-weight: 700;
}

.imgPlanta {
    position: relative;
    animation: parallax 2s linear infinite;
  }
  
  @keyframes parallax {
    0% {
      transform: translateY(0) perspective(100px);
    }
  
    50% {
      transform: translateY(-50px) perspective(200px);
    }
  
    100% {
      transform: translateY(0) perspective(100px);
    }
  }
  

  .loaderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    opacity: .5;
}

.loaderContainer .loader{
    border: 8px solid #f3f3f3; 
    border-top: 8px solid var(--secondColor);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}


@keyframes loader {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.scroll-container .cardProduct{
    width: 90%;
    height: 28vh;
    border-radius: 20px;
    margin: 20px;
    min-height: 28vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    box-shadow: 3px 3px 10px #bdbdbd;
}


.scroll-container .cardProduct .chart{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-left: 20px;
}

.scroll-container .cardProduct .chart:first-of-type::after{
    content: '';
    position: absolute;
    right: 0;
    height: 50%;
    width: 2px;
    background-color: #ccc;
}

.scroll-container .cardProduct.chart div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.scroll-container .cardProduct .chart div > *{
    width: 50%;
}


.cardProduct .infoContent{
    display: flex;
    width: 100%;
    height: 85%;
}

.scroll-container .cardProduct .buttonsContainer{
    width: 100%;
    height: 15%;
}

.cardProduct .buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
}


.buttonsContainer button{
    margin-right: 20px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
}


.buttonsContainer button:last-of-type{
    background-color: var(--secondColor);
    color: white;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 250px !important;
}

.input-container input[type="checkbox"] {
    accent-color: var(--secondColor);
    margin-right: 10px;
    height: 20px;
}

.file-input {
    position: relative;
    overflow: hidden;
}

.file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondColor);
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    outline: none;
}

.file-input #img-path {
    margin-left: 10px;
    flex-grow: 1;
}

.file-input .file-button {
    margin-left: 10px;
}
