@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: 'Montserrat';
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    overflow-x: hidden;
}

:root{
    --mainColor: #508991;
    --secondColor: #172A3A;
    --hoverColor: #2d6269;
}